<div class="container bg-white border border-2 rounded-4 mt-5" (window:load)="onLoad()">
  <form [formGroup]="searchForm">
    <div class="text-center pt-md-5 pt-3">
      <p class="h3 fw-bold">Business search</p>
    </div>

    <div class="col m-auto px-md-5 py-4">
      <label for="keyword" class="h6 required-field">Keyword</label>
      <input type="text" class="form-control form-control-lg" id="keyword" formControlName="keyword" required
             [matAutocomplete]="autoComplete">
      <mat-autocomplete #autoComplete="matAutocomplete">
        <mat-option *ngIf="isLoading">
          <mat-progress-spinner color="primary" mode="indeterminate" [diameter]="30"></mat-progress-spinner>
        </mat-option>

        <ng-container *ngIf="!isLoading">
          <mat-option *ngFor="let option of options" [value]="option">
            {{option}}
          </mat-option>

        </ng-container>

      </mat-autocomplete>
    </div>

    <div class="row px-md-5 py-md-4">
      <div class="col-md-6">
        <label for="distance" class="h6">Distance</label>
        <input type="text" class="form-control form-control-lg" id="distance" formControlName="distance">
      </div>

      <div class="col-md-5 col-9 dropdown">
        <label for="category" class="h6 required-field">Category</label>
        <select class="form-select form-select-lg" id="category" formControlName="category">
          <option value="All" selected="selected">Default</option>
          <option value="arts, All">Arts & Entertainment</option>
          <option value="health, All">Health & Medical</option>
          <option value="hotelstravel, All">Hotels & Travel</option>
          <option value="food, All">Food</option>
          <option value="professional, All">Professional Services</option>
        </select>
      </div>
    </div>

    <div class="col m-auto px-md-5 py-4">
      <label for="location" class="h6 required-field">Location</label>
      <input type="text" class="form-control form-control-lg" id="location" formControlName="location" required
             [attr.disabled]="auto.checked ? '' : null">
    </div>

    <div class="col m-auto px-md-5 py-md-4">
      <div class="form-check">
        <label class="form-check-label" for="autoLocated"> Auto-detect my location</label>
        <input class="form-check-input" type="checkbox" id="autoLocated" formControlName="autoLocated"
               (click)="detectClientLocation(auto.checked)" #auto>
      </div>
    </div>

    <div class="text-center pt-3 pb-md-5 pb-3">
      <button type="button" (click)="onSubmit()" class="btn btn-lg btn-danger mx-3">Submit</button>
      <button type="button" (click)="onClear()" class="btn btn-lg btn-primary mx-3">Clear</button>
    </div>

  </form>
</div>
